<div class="container main">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="form">
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="form.controls['email'].invalid">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('pattern')">
          Invalid password.
        </mat-error>
      </mat-form-field>
      <div class="text">
        <span><a routerLink="/forgotPassword">Forgot Password?</a></span>
        <span class="">Not a member?<a routerLink="/register"> Create an Account</a></span>
      </div>
      <div class="separator">
        <button mat-button color="primary" type="submit" (click)="sendForm()">
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</div>
