<div class="container mainClass">
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Enter code</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Code</mat-label>
                  <input type="text" matInput formControlName="code">
                  <mat-error *ngIf="form.controls['code'].hasError('required')">
                    Code Is Required
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="changed_pass" >
                    <mat-error *ngIf="form.controls['changed_pass'].hasError('required')">
                      Password Is Required
                    </mat-error>
                    <mat-error *ngIf="form.controls['changed_pass'].hasError('pattern')" >
                        Minimum eight characters, at least one letter and one number
                    </mat-error>
                </mat-form-field>
                <div class="separator">
                    <button mat-button color="primary" type="submit" (click)="onOtpSubmit()">Submit</button>
                </div>
              </form>
        </mat-card-content>
      </mat-card>
</div>