<div class="container main">
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Registration</mat-card-title>
        </mat-card-header>
            <form class="form" [formGroup]="form">
                <mat-form-field class="form-field" >
                    <mat-label>Token</mat-label>
                    <input type="text" matInput formControlName="token"/>
                    <mat-error *ngIf="form.controls['token'].hasError('required')" >
                      Token Is Required
                    </mat-error>
                  </mat-form-field>
                  <!-- <mat-form-field class="form-field" >
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com"/>
                    <mat-error *ngIf="form.controls['email'].hasError('required')" >
                      Email Is Required
                    </mat-error>
                    <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].invalid" >
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field> -->
                <mat-form-field class="form-field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password"/>
                    <mat-error *ngIf="form.controls['password'].hasError('required')" >
                      Password Is Required
                    </mat-error>
                    <mat-error *ngIf="form.controls['password'].hasError('pattern')" >
                      Invalid Password
                    </mat-error>
                </mat-form-field>
                <div class="text">
                    <span>Already an User?<a routerLink="/login"> Sign In</a></span>
                </div>
                <div class="separator">
                    <button mat-button color="primary" type="submit" (click)="sendForm()">Submit</button>
                </div>
            </form>
      </mat-card>
</div>