.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(55,150,131);
    background: linear-gradient(90deg, rgba(55,150,131,1) 37%, rgba(92,219,149,1) 76%);
    height: 100%;
}

.box{
    min-height: 19.75rem;
    min-width: 18.75rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mat-form-field{
    display: block;
    position: relative;
    top: 2rem;
}
.mat-card-header{
    margin-left: 2rem;
}
.mat-button.mat-primary{
    background: #379683;
    color: #EDF5E1;
    position: relative;
    top: 3rem;
    left: 5rem;
}
