<div class="navigation-container">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">{{userProf?.firstName+" "+userProf?.lastName}}</h1>
        <span class="nav-tool-items">
            <span mat-button mat-raised-button  [matMenuTriggerFor]="menu" class="icon" *ngIf="login"><mat-icon>account_circle</mat-icon></span>
        </span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </mat-toolbar>
    
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mode.value">
          <mat-nav-list class="list">
            <a mat-list-item routerLink="/home">Home</a>
            <!-- <a mat-list-item routerLink="/login">Login</a>
            <a mat-list-item routerLink="/register">Register</a> -->
            <a mat-list-item routerLink="/profile">Profile</a>
          </mat-nav-list>
        </mat-sidenav>
        <router-outlet></router-outlet>
      </mat-sidenav-container>
</div>
<p-toast></p-toast>

  