<div class="container mainClass">
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Enter Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Old Password</mat-label>
                    <input type="password" matInput formControlName="old_pass" >
                    <mat-error *ngIf="form.controls['old_pass'].hasError('required')">
                      Old password Is Required
                    </mat-error>
                    <mat-error *ngIf="form.controls['old_pass'].hasError('pattern')" >
                        Minimum eight characters, at least one letter and one number
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="new_pass" >
                    <mat-error *ngIf="form.controls['new_pass'].hasError('required')">
                      New password Is Required
                    </mat-error>
                    <mat-error *ngIf="form.controls['new_pass'].hasError('pattern')" >
                     Minimum eight characters, at least one letter and one number
                    </mat-error>
                </mat-form-field>
                <div class="separator">
                    <button mat-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
                </div>
              </form>
        </mat-card-content>
      </mat-card>
</div>